body{background-color:powderblue;}

header{
	text-align:center;
	padding:20px;
	background-color:DarkSalmon;
	border:1px solid white;
}

header a{
	color:white;
	font-size:200%;
}

main{
	color:grey;
	border:2px solid white;
	padding-bottom:10px;
}

.form-group{
		margin:10px;
		width:270px;
		border-radius:5px;
		
}

img{
	border:3px solid #ffffff;
}
	
table{
	border:3px solid #ffffff;
}

td{
	border:1px solid black;
	padding:7px;
}

footer{
	text-align:center;
	padding:3px;
	background-color:DarkSalmon;
	border:1px solid white;
}

footer p{
	color:white;
}

